body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-istok-web: "Istok Web";
  --navbar: Inter;
  --barre-de-recherche: "Nova Round";

  /* font sizes */
  --font-size-21xl: 40px;
  --navbar-size: 20px;
  --barre-de-recherche-size: 24px;

  /* Colors */
  --color-black: #000;
}
